.button {
  width: 95%;
  border: none;
  cursor: pointer;
  padding: 18px 20px;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  text-align: left;
  transition: filter 0.2s ease;
  color: white; /* Για να φαίνεται το κείμενο */
}

.button:hover {
  filter: brightness(110%);
}

.emergency {
  background-color: #9f1239;
}

.manual {
  background-color: #1e3a8a;
}

.iconContainer {
  background-color: rgba(255, 255, 255, 0.2); /* Λευκό με διαφάνεια */
  padding: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: white;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0 3px 0;
}

.subtitle {
  font-size: 12px;
  opacity: 0.8;
  margin-top: 5px;
}