GEMINI_API_KEY=AIzaSyAWt6Q07nqTPC2QnktGn4AQ1aQD1DXb2xo
PORT=8003
SUPABASE_URL=https://npndhfyysqvtbluzkdvi.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5wbmRoZnl5c3F2dGJsdXprZHZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyMTc3NTUsImV4cCI6MjA4OTc5Mzc1NX0.E1BoIdCi3uIfA6eO4pa4G79dca27L0iiWOFXveKOGlY       